<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.liveclearmic" android:versionCode="20000" android:versionName="2.0">
    <uses-sdk android:minSdkVersion="31" android:targetSdkVersion="34" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application android:label="LiveClearMic" android:icon="@drawable/liveclearmic_icon"
        android:allowBackup="false" android:debuggable="false" android:supportsRtl="true">
        <activity android:name="app.liveclearmic.MainActivity" android:exported="true" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="app.liveclearmic.ProbeService" android:exported="false"
            android:stopWithTask="false" android:foregroundServiceType="connectedDevice" />
        <receiver android:name="app.liveclearmic.BudsReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.headset.profile.action.CONNECTION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
